.notification-placeholder {

    .notification {
        max-width:  $notification-box-width;
        margin: 0 auto;

        &.hidden {
            visibility: hidden;
        }

        button {
            margin-top: -20px;
        }
    }

}
