<div class="container">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<form ng-submit="vm.submit()" class="form-signin" name="login" novalidate>
		<h1 class="form-signin-heading text-muted">Log in</h1>

		<input ng-model="vm.email" name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
		<p class="help-block" ng-show="login.email.$dirty && login.email.$invalid">Please match the password</p>

		<input ng-model="vm.password" name="password" type="password" class="form-control" placeholder="Password" required>

		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="login.$invalid">
			Log in
		</button>

		<p class="text-muted registration-note">Do not have an account? <a ui-sref="register">Register</a> and join us</p>

		<button ng-click="vm.google()" class="btn btn-lg btn-default btn-block" type="button">
			Google
		</button>
	</form>

</div>
